NAME=Salazar
AVATAR=https://images-ext-1.discordapp.net/external/TLKK7mPP6AMiyEfeLtlMnrKk1v27ccOaLtzegDtM1eY/%3Fsize%3D2048/https/cdn.discordapp.com/avatars/1009240416035540992/aa7f5e78e5b42de47889a571bb762cf2.png
TYPE=bot
MAIN=index.js
RAM=1024
AUTORESTART=true
VERSION=latest
APT=tools
NODE_OPTIONS=--no-warnings