.guildList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: 10px;
    padding: 10px;
    margin: 0;
    flex-wrap: wrap;
    max-width: 100%;

    .guild {
        background-color: rgba(255, 255, 255, 0.157);
        border: 1px solid rgba(255, 255, 255, 0.191);
        border-radius: 12px;
        padding: 10px;
        display: flex;
        backdrop-filter: blur(5px);

        .guildIcon {
            background-color: #eeeeee51;
            width: 32px;
            height: 32px;
            border-radius: 2px;
        }
    }
}